<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1056" key="03acdc85-b83a-4395-820f-f2ec03c9e521" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-01-25T16:10:25" updateDate="2018-01-25T16:10:25" nodeName="Home" urlName="home" path="-1,1056" isDoc="" nodeType="1054" creatorName="WENJUN XIE" writerName="WENJUN XIE" writerID="0" template="1052" nodeTypeAlias="home" isPublished="true" />
  <contact id="1057" key="78bff0cf-16a6-4d83-83c1-832797875404" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-01-25T16:28:15" updateDate="2018-01-25T16:28:18" nodeName="Contact" urlName="contact" path="-1,1057" isDoc="" nodeType="1055" creatorName="WENJUN XIE" writerName="WENJUN XIE" writerID="0" template="1053" nodeTypeAlias="contact" isPublished="true" />
</root>