@inherits UmbracoViewPage


<div id="fh5co-counter">
    <div class="container">

        <div class="row animate-box" data-animate-effect="fadeInUp">
            <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
                <span>Enjoy it</span>
                <h2>Fun Facts</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-download"></i>
                    </span>
                    <span class="counter"><span class="/scripts-counter" data-from="0" data-to="15" data-speed="1500" data-refresh-interval="50">1</span>M+</span>
                    <span class="counter-label">Downloads</span>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-face-smile"></i>
                    </span>
                    <span class="counter"><span class="/scripts-counter" data-from="0" data-to="120" data-speed="1500" data-refresh-interval="50">1</span>+</span>
                    <span class="counter-label">Happy Clients</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-briefcase"></i>
                    </span>
                    <span class="counter"><span class=" js-counter" data-from="0" data-to="90" data-speed="1500" data-refresh-interval="50">1</span>+</span>
                    <span class="counter-label">Projects Done</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-time"></i>
                    </span>
                    <span class="counter"><span class="/scripts-counter" data-from="0" data-to="12" data-speed="1500" data-refresh-interval="50">1</span>K+</span>
                    <span class="counter-label">Hours Spent</span>

                </div>
            </div>

        </div>
    </div>
</div>
